.App {
  text-align: center;
  background-image: url(https://img.freepik.com/free-vector/desert-forest-landscape-daytime-scene_1308-58176.jpg?w=1060&t=st=1668446542~exp=1668447142~hmac=c1025cde2d8aef7cb1f8220e4f2b1c7b2d306ccde7a383edfb010626a2d95246);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1800px;
  width: 1000px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
}
#errr{
  color: red;
  font-size: 40px;
}
.inp{
  width: 50%;
  margin: 1rem;
  border-radius: 5px;
  background-color: white;
  margin-left: 5%;
  /* background-image: none; */}

